.card-thumb {
  height: 100%;
  width: 100%;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  padding: 15px;
  width: 50%;
}

.card-header {
  width: 50%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-footer span:last-child {
  font-weight: bold;
  text-align: right;
  color: lime;
}

.card-thumb img {
  border-radius: 15px;
  max-height: 155px;
  min-height: 150px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.div-Kosong {
  padding: 40px;
}

.card-recipe {
  margin : 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-body h2 {
  text-align: justify;
  font-size: 18px;
}
