.collapseElement__body {
  max-height: 0;
  padding: 0;
  overflow-y: hidden;
  list-style: none;
  transition: max-height 0.3s ease-in-out;
}

.collapseElement--show > .collapseElement__body {
  max-height: 1500px;
}

.collapseElement {
  // margin: 1rem 0;
}

.collapseElement__header {
  padding: 8px;
  background: #e91e63;
  color: #fff;
}
.collapseElement__body {
  // padding: 8px;
}

.collapseElement__icon {
  padding-bottom: 20px;
  position: relative;
  right: 10px;
}

.collapseElement__icon span {
  position: absolute;
  background: #333;
  width: 15px;
  height: 3px;
  right: 0;
  top: 8px;
  transform: unset;
  transition: all 0.35s;
}

.collapseElement__icon span:nth-child(2) {
  position: absolute;
  background: #333;
  width: 15px;
  height: 3px;
  right: 0;
  top: 8px;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.collapseElement--show .collapseElement__icon span:nth-child(2) {
  position: absolute;
  background: #333;
  width: 15px;
  height: 3px;
  right: 0;
  top: 8px;
  transform: unset !important;
  transition: all 0.35s;
}
