.container {
  margin: auto;
  max-width: 500px;
  margin-bottom: calc(100% - 85%);
}
body {
  background-image: url('https://1.bp.blogspot.com/-dJknBBjeII0/X7jzGDOp3gI/AAAAAAAAE-E/_GKfwBiqadYd3agK8WXdnWQei6KcsIrigCLcBGAsYHQ/s0/bg-food.png');
}
