.container {
  margin: auto;
  max-width: 500px;
}
body{
  background-image: url("https://etanee.id/static/media/body-pattern.09a0373a.png");
}
.splashscreen-background{
  background-color: #D3843D;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 595px;

}
.splashscreen-logo img {
  width: 100%;
}
.categ_row{
  display: flex;
  flex-wrap: wrap;
}
