.profile {
  margin-top: 2rem;
  &__input {
    min-height: 200px;
    width: 200px;
    height: 100%;
    margin: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 100px;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 200px;
      min-height: 200px;
      object-fit: cover;
      filter: brightness(0.8);
    }
  }
  &__hover {
    display: none;
    min-height: 200px;
    width: 30%;
    margin: auto;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    display: none;
    top: 40px;
    bottom: -40px;
    left: 0;
    position: absolute;
    right: 0;
    img {
      width: 100%;
    }
  }
  &__body {
    padding: 15px;
    margin-top: 40px;
  }
  .form-group {
    .form-control {
      padding: 14px;
      width: 100%;
      border-radius: 8px;
      border: 2px solid #ced4da;
      outline: none;
      transition: 0.3s;
    }
    & :focus {
      border: 2px solid #e49853;
      box-shadow: 0 0 2px #e49853;
    }
  }
  &__saveBtn {
    .btn--primary {
      outline: none;
      color: white;
      padding: 10px 24px;
      background: #d3843d;
      border: none;
      border-radius: 5px;
    }
  }
}
