.img_prof img{
  display: block;
  margin: auto;
  width: 50%;
  max-height: 200px;
  min-height: 200px;
  height: 100%;
  object-fit: cover;
}

.input-image input {
  align-items: center;
  display: block;
  margin: auto;
}
.img_prof input{
display: none;
}